.score {
  display: flex;
  justify-content: space-between;

  &.success {
    font-weight: bold;
    color: $medium_green;
  }

  .result {
    padding: 4px;
    border-radius: 10px;
    font-size: 14px;
  }
}
