.card {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .header {
      background: #253659;
      color: white;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #eeeeee;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.3s;

    .left {
      display: flex;
      flex-direction: column;
      .compName {
        font-weight: 400;
      }
      .season {
        font-size: 14px;
      }
    }
  }

  .body {
    min-height: 60px;
    padding: 16px;

    .team {
      display: flex;
      justify-content: space-between;
    }

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 8px;
      margin-top: 16px;
    }
  }

  .footer {
    display: flex;
    gap: 8px;
    padding: 16px;
    border-top: 1px solid #eeeeee;
    font-size: 14px;

    .stadium {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
