.liveContainer {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  margin-top: 8px;
  overflow: hidden;

  .content {
    flex: 1;
    overflow: scroll;
  }

  @media only screen and (min-width: 640px) {
    flex-direction: row;

    .content {
      margin-top: 16px;
    }
  }
}
