.matchList {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  padding-top: 8px;
  padding-bottom: 40px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 14px;
  gap: 24px;
}

.emptyData {
  text-align: center;
}
