.team {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  .navigation {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 16px 40px 16px 40px;
    justify-content: space-between;

    .buttons {
      display: flex;
      color: $dark_green;
      gap: 8px;
    }
  }
}
