.aside {
  min-width: 230px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  h3 {
    font-weight: 300;
    margin: 0;
    padding-bottom: 8px;
  }

  @media only screen and (min-width: 640px) {
    flex-direction: column;
    padding:  40px 24px 24px 24px; 
  }
}
